$white: #ffffff;
$black: #000000;
$default: #222831;
$primary: #ce1212;
$secondary: #37373f;
$textCol: #1f1f1f;
$success: #6cc942;
$warning: #ffc107;
$danger: #dc3545;
$info: #0288D1;
$disabled: #d7d7d7;
