@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap');
@import "variables";
@import "color";

body {
  font-family: $font-default;
  color: $default;
}

a {
  color: $primary;
  text-decoration: none !important;
}

a:hover {
  color: #ec2727;
  text-decoration: none;
}
