@import "common";
@import "variables";
@import "color";
@import "mixins";

.container.wrap {
  margin-top: 90px;
}

/* Header */
.header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  border-bottom: 1px solid #eee;
}

@media (max-width: 575px) {
  .header {
    height: 70px;
  }
}

.header {
  border-color: #eee;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin: 0;
  font-family: $font-secondary;
}

.header .logo h1 span {
  color: $primary;
}

.header .btn-book-a-table,
.header .btn-book-a-table:focus {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: $primary;
  padding: 4px 8px;
  margin-left: 30px;
  border-radius: 50px;
  transition: 0.3s;
}

.header .btn-book-a-table:hover,
.header .btn-book-a-table:focus:hover {
  color: #fff;
  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }
}
.header .login {
  color: $default;
  font-weight: 500;
  line-height: 38px;
}
section {
  scroll-margin-top: 90px;
}

/* Dropdown */
.dropdown {
  .dropdown-toggle {
    font-size: 18px;
    line-height: 38px;
    color: $textCol;
  }
  .dropdown-menu {
    font-size: 18px;
    top: calc(100% + 10px);
    right: 0;
    border: none;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    animation: growIn .2s;
    &.show {
      display: block;
    }
  }
}

@keyframes growIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* Desktop Navigation */
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 28px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3px;
    font-family: $font-secondary;
    font-size: 16px;
    font-weight: 600;
    color: #7f7f90;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: $primary;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 100%;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #000;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 28px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: $primary;
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/* Footer */
.footer {
  font-size: 14px;
  background-color: #1f1f24;
  padding: 50px 0;
  color: rgba(255, 255, 255, 0.7);
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  color: #fff;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer .copyright {
  text-align: center;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Sign up */
.signup_section {
  position: relative;

  h2 {
    font-family: 'Dancing Script', cursive;
  }

  .form_container {
    margin-bottom: 100px;

    .form-control {
      width: 100%;
      border: none;
      height: 50px;
      padding-left: 16px;
      border: 1px solid #999;
      outline: none;
      color: $black;
      border-radius: 5px;
      outline: none;
      box-shadow: none;

      &::placeholder {
        color: #222222;
      }
    }
    .error {
      color: var(--bs-red);
    }
    .btn_box {
      margin-top: 15px;
      border: none;
      text-transform: uppercase;
      @include hero_btn($primary, $white, 10px, 55px, 45px);
    }
  }
}

/* CSS để sắp xếp các category thành một hàng ngang */
.category-list {
  display: flex;
  justify-content: space-between; /* Phân cách đều giữa các category */
  flex-wrap: wrap; /* Cho phép các category chuyển dòng khi không đủ không gian */
}

.category-item {
  flex: 0 0 calc(33.33% - 10px); /* Số lượng category trên mỗi hàng, có khoảng cách 10px giữa chúng */
  margin-bottom: 10px; /* Khoảng cách dưới mỗi category */
  box-sizing: border-box;
  border: 1px solid #e0e0e0; /* Viền xung quanh các category */
  padding: 10px;
}

/* Để làm cho category trở nên hấp dẫn hơn */
.category-item:hover {
  background-color: #f5f5f5; /* Màu nền khi hover */
  transition: background-color 0.2s ease-in-out;
}

/* CSS để tạo giao diện cho mỗi item cuisine */
.cuisine-item {
  margin-bottom: 20px; /* Khoảng cách giữa các item */
  border: 1px solid #e0e0e0; /* Viền xung quanh các item */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
  transition: box-shadow 0.2s ease-in-out; /* Hiệu ứng bóng đổ khi hover */
}

.cuisine-item:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng đổ lớn hơn khi hover */
}

.cuisine-image {
  max-width: 100%; /* Ảnh tự thích nghi với kích thước của thẻ cha */
}

.sentence {
  padding: 15px;
}

.sentence h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.sentence h6 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #888;
}

.sentence p {
  font-size: 14px;
  color: #333;
}

/* Thay đổi màu nền và màu chữ cho category được chọn */
.category-item.selected {
  background-color: #dad9e2; /* Màu nền */
  color: #FFFFFF; /* Màu chữ */
}

/* Thay đổi kiểu dáng cho liên kết cuisine */
.cuisine-link {
  /* Các kiểu dáng tùy ý ở đây */
  text-decoration: none; /* Loại bỏ gạch chân mặc định */
  color: #333; /* Màu chữ */
}

.cuisine-link:hover {
  /* Kiểu dáng khi rê chuột vào liên kết */
  color: #FF0000; /* Màu chữ khác khi rê chuột vào */
}

/* app/assets/stylesheets/cuisines.css */

.cuisine-details {
  padding: 50px 0;
}

.cuisine-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.cuisine-name {
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
}

.cuisine-description {
  font-size: 18px;
  margin-top: 10px;
}

.cuisine-discount {
  font-size: 16px;
  color: #e74c3c; /* Màu đỏ cho phần giảm giá */
  margin-top: 10px;
}

.cuisine-price {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  color: #27ae60; /* Màu xanh cho giá tiền */
}

/* Áp dụng màu xám cho ảnh */
.cuisine-image-not-available {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  filter: grayscale(100%); /* Biến ảnh thành màu xám */
}

.search_button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.search-form {
  text-align: center;
  padding: 20px;
}

h3 {
  margin-bottom: 10px;
}

.search-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-group:last-child {
  margin-right: 0;
}

.form-control {
  width: 100%;
}

.search_button {
  margin-top: 10px;
}

/* Order history */
.order-history {
  font-size: 18px;
  .table-container {
    padding: 20px 15px;
    border: 1px solid #ebebeb;
  }
  .filter {
    display: flex;
    justify-content: center;
    gap: 30px;
    .item {
      display: flex;
      align-items: center;
      gap: 4px;
      white-space: nowrap;
    }
  }
  .form-select:focus, .form-control:focus {
    box-shadow: none !important;
    border: 1px solid #959595;
  }
  .btn_box {
    border: none;
    @include hero_btn($primary, $white, 4px, 12px, 0.2rem);
  }
  .history-table {
    margin-top: 30px;
    th {
      border-bottom-color: #ebebeb !important;
    }
    thead th{
      color: $primary;
      font-weight: 500;
    }
  }
  .pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    .page-link:focus {
      box-shadow: none;
    }
    .page-item {
      &.active {
        .page-link {
          background-color: $primary;
          border-color: $primary;
          color: $white;
        }
      }
      .page-link {
        color: $textCol;
      }
    }
  }
}
/* Order items */
.order-item {
  font-size: 16px;
  .total-amount {
    font-weight: 500;
  }
  .payment {
    color: #008000;
    font-weight: 500;
  }
  .status-box {
    width: 120px;
  }
  .status {
    text-align: center;
    width: 90px;
    height: 26px;
    line-height: 26px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    color: $textCol;
  }
  .accepted {
    background-color: $success;
  }
  .pending {
    background-color: $warning;
  }
  .rejected {
    background-color: $danger;
    color: $white
  }
  .re-order {
    display: block;
    background-color: $disabled;
    margin-top: 5px;
  }
  .view-detail {
    display: block;
    text-align: center;
    color: $info;
  }
}

/* CSS cho pop-up */
.popup {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background-color: rgb(245, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Để nó hiển thị phía trên mọi thứ khác */
}

/* CSS cho form option */
.option-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 60%; /* Chiếm 60% màn hình */
  max-width: 400px; /* Giới hạn chiều rộng tối đa */
  background-color: #888;
}

/* Css cho order  */

.order-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.order-item {
  margin-bottom: 20px;
}

.price {
  font-weight: bold;
}

.option-list {
  list-style: none;
  padding-left: 0;
}

.option-list li {
  margin-left: 20px;
}

.total-price {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}
